{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo "Installing MesloGS font"
fontpath="${XDG_DATA_HOME:-$HOME/.local/share}"/fonts/MesloGS
mkdir -p $fontpath && cd $fontpath
wget -q https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
wget -q https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
wget -q https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf
wget -q https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf
fc-cache -f

echo "Changing shell to zsh"
chsh -s $(which zsh)

{{   if eq .chezmoi.osRelease.id "debian" -}}
sudo apt update -qq
DEBIAN_FRONTEND=noninteractive sudo apt install -qqq --no-install-recommends zsh zsh-antigen bat

{{   else if eq .chezmoi.osRelease.id "archlinux" -}}
cd {mktemp -d}
{{ end -}}

{{ end -}}
