{{ if eq .chezmoi.os "linux" -}}
#!{{ lookPath "sh" }}
{{   if eq .chezmoi.osRelease.idLike "debian" -}}
sudo apt update -qq
DEBIAN_FRONTEND=noninteractive sudo apt install -qqq --no-install-recommends bat ripgrep tldr ncdu
{{      if ge .chezmoi.osRelease.versionID "22.04" -}}
DEBIAN_FRONTEND=noninteractive sudo apt install -qqq --no-install-recommends sd duf btop
{{      end -}}
{{   else if eq .chezmoi.osRelease.id "archlinux" -}}
# Work in temp folder
cd ${mktemp -d}
# Install yay
sudo pacman -S --needed --noconfirm git base-devel && git clone --depth 1 https://aur.archlinux.org/yay-bin.git && cd yay-bin && makepkg -si
yay -Sa --noconfirm visual-studio-code-bin brave-bin
{{   end -}}

echo "Changing shell to zsh"
sudo chsh -s $(which zsh) $(whoami)

{{ end -}}
