{{ if ne .chezmoi.os "linux" }}
{{   if not .debian }}
.chezmoiscripts/linux/run_once_before_debian.sh
{{   end }}
{{   if ne .chezmoi.osRelease.id "arch" }}
.chezmoiscripts/linux/run_once_before_arch.sh
{{   end }}
.zshrc
.p10k.zsh
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents/**
{{ end }}
