{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.zshrc
.p10k.zsh
{{- else }}
{{-   if not .debian }}
.chezmoiscripts/linux/debian/**
{{-   end }}
{{-   if ne .chezmoi.osRelease.id "arch" }}
.chezmoiscripts/linux/arch/**
.config/pacman/makepkg.conf
{{-   end }}
{{- end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents/**
{{- end }}
