{{- if eq .chezmoi.os "linux" -}}
{{-  if not .codespaces -}}
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/NvChad/starter.git"
    refreshPeriod = "168h"
{{-  end }}
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.18.0.tar.gz"
    exact = true
    stripComponents = 1
{{- end }}
