{{- if lookPath "nu" -}}
#!{{ lookPath "nu" }}

let autoload = ($nu.user-autoload-dirs | first)
mkdir $autoload

{{- if lookPath "zoxide" }}
zoxide init nushell | save -f ($autoload | path join zoxide.nu)
{{- end }}

{{- if lookPath "carapace" }}
carapace _carapace nushell | save -f ($autoload | path join carapace.nu)
{{- end }}

{{- if lookPath "starship" }}
starship init nu | save -f ($autoload | path join "starship.nu")
{{- end }}

{{- if lookPath "winget" }}
http get {{ getRedirectedURL "https://github.com/nushell/nu_scripts/raw/HEAD/custom-completions/winget/winget-completions.nu" }} | save -f ($autoload | path join winget.nu)
{{- end }}
{{- end -}}
