{{- if lookPath "nu" -}}
#!{{ lookPath "nu" }}

zoxide init nushell | save -f ($nu.default-config-dir | path join .zoxide.nu)

carapace _carapace nushell | save -f ($nu.default-config-dir | path join .carapace.nu)
{{- end -}}
