# This script uses mostly https://github.com/ChrisTitusTech/powershell-profile/blob/main/setup.ps1

# Do things in tmp
Set-Location $env:TMP

winget install -e --accept-source-agreements --accept-package-agreements --scope CurrentUser JanDeDobbeleer.OhMyPosh
Install-Module -Name Terminal-Icons -Repository PSGallery -Scope CurrentUser

# Ask for admin
if (-NOT ([Security.Principal.WindowsPrincipal][Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] "Administrator"))  
{  
  $arguments = "& '" +$myinvocation.mycommand.definition + "'"
  Start-Process powershell -Verb runAs -ArgumentList $arguments
  Break
}

# Choco install
Set-ExecutionPolicy Bypass -Scope Process -Force;
[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072;
Invoke-Expression ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

# Web client used to download files
$webClient = New-Object System.Net.WebClient

# Font Install
# Get all installed font families
[void] [System.Reflection.Assembly]::LoadWithPartialName("System.Drawing")
$fontFamilies = (New-Object System.Drawing.Text.InstalledFontCollection).Families
# Check if CaskaydiaCove NF is installed
if ($fontFamilies -notcontains "CaskaydiaCove NF") {
    $c =  ".\CascadiaCode"
    $czip = "$c.zip"
    # Download and install CaskaydiaCove NF
    $webClient.DownloadFile("https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/CascadiaCode.zip", $czip)

    Expand-Archive -Path $czip -DestinationPath $c -Force
    $destination = (New-Object -ComObject Shell.Application).Namespace(0x14)
    Get-ChildItem -Path $c -Recurse -Filter "*.ttf" | ForEach-Object {
        If (-not(Test-Path "C:\Windows\Fonts\$($_.Name)")) {        
            # Install font
            $destination.CopyHere($_.FullName, 0x10)
        }
    }
}

# Install Arch wsl
{{- if .wsl -}}
    $archZst = ".\archlinux.tar.zst"
    $archVer = "20231201.0.196455"
    $zstd = ".\zstd"
    $zstdVer = "v1.5.5"
    $zstdZip = "zstd.zip"
    # Enable wsl
    dism.exe /online /enable-feature /featurename:Microsoft-Windows-Subsystem-Linux /all /norestart
    dism.exe /online /enable-feature /featurename:VirtualMachinePlatform /all /norestart
    wsl --set-default-version 2
    # Download Arch rootfs
    $webClient.DownloadFile("https://gitlab.archlinux.org/api/v4/projects/10185/packages/generic/rootfs/$archVer/base-$archVer.tar.zst", $archZst)
    # zstd needed for decompression
    $webClient.DownloadFile("https://github.com/facebook/zstd/releases/download/$zstdVer/zstd-$zstdVer-win64.zip", $zstdZip)
    Expand-Archive -Path $zstdZip -DestinationPath $zstd -Force
    .\zstd-$zstdVer-win64\zstd.exe -d $archZst -o ".\arch.tar"
    mkdir -Force "$env:HOME/Archlinux"
    # Import Arch
    wsl --import Archlinux "$env:HOME/Archlinux" ".\arch.tar"
    wsl -d Archlinux
    # In arch!
    pacman -Syu --noconfirm
    pacman -S sudo

    cat <<END >/etc/wsl.conf
    [boot]
    systemd=true
    END

    echo "Creating user"
    useradd arch -m
    usermod -aG wheel arch
    echo "Setting his password"
    passwd arch
    su arch

    echo "Running chezmoi... again???"
    sh -c "$(curl -fsLS get.chezmoi.io)" -- init -ad 1 MelvinCou
{{- end -}}
