{{- range $reg := .packages.windows.registry -}}

New-Item -Path {{ $reg.path | quote }} -ErrorAction SilentlyContinue

{{ if and (hasKey $reg "key") (hasKey $reg "value") -}}
if(Get-ItemProperty -ErrorAction SilentlyContinue -Path {{ $reg.path | quote }} -Name {{ $reg.key | quote }}) {
	Set-ItemProperty -Path {{ $reg.path | quote }} -Name {{ $reg.key | quote }} -Value {{ $reg.value | quote }}
} else {
	New-ItemProperty -Path {{ $reg.path | quote }} -Name {{ $reg.key | quote }} -Value {{ $reg.value | quote }} -PropertyType "String"
}
{{ end }}

{{- end }}
