# This script uses mostly https://github.com/ChrisTitusTech/powershell-profile/blob/main/setup.ps1

$packages = $(winget list) | Out-String
{{- range .packages.windows.winget_user }}
if (!$packages.Contains({{ . | quote }})) {
    echo "Installing {{ . }}"
    winget install --accept-source-agreements --accept-package-agreements --scope user --id {{ . | quote }}
}
{{- end }}
{{- range .packages.windows.winget_admin }}
if (!$packages.Contains({{ . | quote }})) {
    echo "Installing {{ . }}"
    winget install --accept-source-agreements --accept-package-agreements --id {{ . | quote }}
}
{{- end }}

{{- if not (lookPath "choco") }}
# Choco install
Set-ExecutionPolicy Bypass -Scope Process -Force;
[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072;
Invoke-Expression ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

choco install {{ .packages.windows.choco | join " " }}
{{- end }}
