#!{{ lookPath "sh" }}
set -eu

echo "Installing packages"
sudo apt-get update -qqy
{{ range .packages.debian.base }}
DEBIAN_FRONTEND=noninteractive sudo apt-get install -qqqy --no-install-recommends {{ . }}
{{ end }}
{{ if not .codespaces }}
{{   range .packages.debian.others }}
DEBIAN_FRONTEND=noninteractive sudo apt-get install -qqqy --no-install-recommends {{ . }}
{{   end }}
{{ end }}
