#!{{ lookPath "sh" }}
set -eu

echo "Installing packages"
sudo apt-get update -qqy
DEBIAN_FRONTEND=noninteractive sudo apt-get install -qqqy --no-install-recommends {{ .packages.debian.base | join " " }}

{{- if not .codespaces }}
DEBIAN_FRONTEND=noninteractive sudo apt-get install -qqqy --no-install-recommends {{ .packages.debian.others | join " " }}

# Install Nerd Fonts
mkdir -p ~/.local/share/fonts
cd ~/.local/share/fonts
curl -sOL https://github.com/ryanoasis/nerd-fonts/releases/latest/download/Hack.zip
unzip -qq Hack.zip
rm Hack.zip
fc-cache -f 
{{- end }}
