#!{{ lookPath "sh" }}
set -eu

{{ if .debian -}}
echo "Installing packages"
sudo apt-get update -qqy
{{   range .packages.debian.base -}}
DEBIAN_FRONTEND=noninteractive sudo apt-get install -qqqy --no-install-recommends {{ . }}
{{   end -}}
{{   if not .codespaces -}}
{{     range .packages.debian.others -}}
DEBIAN_FRONTEND=noninteractive sudo apt-get install -qqqy --no-install-recommends {{ . }}
{{     end -}}
{{   end -}}

{{ else if eq .chezmoi.osRelease.id "arch" -}}
# Work in temp folder
cd $(mktemp -d)
echo "Installing packages"
{{ range .packages.debian.base -}}
sudo pacman -S --needed --noconfirm git base-devel {{ . }}
{{ end -}}
git clone --depth 1 https://aur.archlinux.org/yay-bin.git
cd yay-bin && makepkg -si --noconfirm

{{   if not .wsl -}}
{{     range .packages.arch.aur -}}
yay -Sa --noconfirm {{ . }}
{{     end -}}
{{   end -}}
{{ end -}}

echo "Changing shell to zsh"
sudo chsh -s $(which zsh) $(whoami)
