#!{{ lookPath "sh" }}
set -eu

{{- if and (lookPath "code") (not .codespaces) }}
echo "Installing Visual studio code extensions"
{{-   range .packages.vscode }}
code --install-extension {{ . | quote }} 1>/dev/null
{{-   end }}
code --update-extensions 1>/dev/null
{{- end }}
