#!{{ lookPath "sh" }}
set -eu

{{ if .wsl }}
sudo pacman-key --init
sudo pacman-key --populate archlinux
{{ end }}

# Work in temp folder
cd $(mktemp -d)
echo "Installing packages"

# yay
git clone --depth 1 https://aur.archlinux.org/yay-bin.git
cd yay-bin && makepkg -si --noconfirm
# rankmirrors
yay -Sa --noconfirm rankmirrors
# Run pupdaterepos
sudo curl "https://archlinux.org/mirrorlist/?country=FR&protocol=https&use_mirror_status=on" | sudo tee /etc/pacman.d/mirrorlist.backup
sudo sed -i 's/^#Server/Server/' /etc/pacman.d/mirrorlist.backup
rankmirrors -n 6 /etc/pacman.d/mirrorlist.backup | sudo tee /etc/pacman.d/mirrorlist

sudo pacman -Sy --noconfirm
{{ range .packages.debian.base }}
sudo pacman -S --needed --noconfirm git base-devel {{ . }}
{{ end }}

{{ if not .wsl }}
{{   range .packages.arch.aur }}
yay -Sa --noconfirm {{ . }}
{{   end }}
{{ end }}

echo "Changing shell to zsh"
sudo chsh -s $(which zsh) $(whoami)
