#!{{ lookPath "sh" }}
set -eu

{{- if and (lookPath "code") (not .codespaces) }}
echo "Installing Visual studio code extensions"

code --update-extensions 1>/dev/null
extensions=$(code --list-extensions)
{{-   range .packages.vscode }}
if [[ $extensions != *{{ . }}* ]]; then
    echo "Installing {{ . }}"
    code --install-extension {{ . | quote }} 1>/dev/null
fi
{{-   end }}
{{- end }}
