# This is Git's per-user configuration file.
[user]
  name = {{ output "git" "config" "user.name" }}  email = {{ output "git" "config" "user.email" -}}
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[rebase]
  abbreviateCommands = true
  autoStash = true
[pager]
  branch = false
[alias]
  pruneAll = !git remote prune origin && git reflog expire --all --expire=now && git gc --prune=now --aggressive
